.emptyBox {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  width: 200px !important;
  height: 200px !important;
  opacity: 0.2 !important;
}

.studentTitle {
  font-size: 56px;
  margin-bottom: 0px;
  margin-top: 24px;
}

@media only screen and (max-width: 991px) {
  .studentTitle {
    font-size: 34px !important;
  }
}
