.formGroup {
  height: 29rem !important;
  max-height: 29rem !important;
}

.formControl {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  height: 100% !important;
  max-height: 100% !important;
  outline: none;
}

.list {
  padding-left: 20px;
  max-height: 27rem !important;
  overflow: auto;
}

.notSelectedOption {
  background-color: white !important;
  &:hover {
    cursor: pointer;
  }
}

.selectedOption {
  background-color: #48bf84 !important;
  color: white !important;
  &:hover {
    cursor: pointer;
  }
}
