.navDropdownToggle {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navDropdownToggle::after {
  display: none !important;
}

.navDropdownText {
  background-color: transparent;
  border-color: transparent;
  color: #7b8887 !important;
  font-size: 16px !important;
  font-weight: bold !important;

  &:hover {
    color: gainsboro !important;
    transition: 0.2s !important;
  }
}

.dropdownItem {
  &:active {
    background-color: #48bf84 !important;
  }
}
