#studentDropdownText {
  font-weight: bold !important;
  background-color: transparent;
  border-color: transparent;
  color: #7b8887 !important;
  font-size: 16px !important;
  &:hover {
    color: gainsboro !important;
    transition: 0.2s !important;
  }
}

#studentDropdownToggle::after {
  display: none !important;
}

#studentDropdownToggle {
  padding-left: 0px;
  padding-right: 0px;
}

.dropdownStyle {
  &:active {
    background-color: #48bf84 !important;
  }
}
