.activeItem {
  color: #48bf84 !important;
}

.activeButton {
  background-color: rgb(100, 98, 98) !important;
  border-color: rgb(100, 98, 98) !important;

  color: white !important;
  font-size: 16px !important;

  &:hover {
    background-color: #48bf84 !important;
    border-color: #48bf84 !important;

    color: white !important;
  }
}

.inactiveButton {
  background-color: transparent !important;
  border-color: #4d535a !important;

  color: #4d535a !important;
  font-size: 16px !important;

  &:hover {
    background-color: rgb(77, 196, 136) !important;
    color: white !important;
  }
}
